# Ory Keto Configuration
version: v0.11.1

dsn: memory

serve:
  read:
    host: 0.0.0.0
    port: 4466
  write:
    host: 0.0.0.0
    port: 4467
  metrics:
    host: 0.0.0.0
    port: 4468

namespaces:
  - id: 0
    name: fastapi-resource-server
